.header {
  height: auto;
}

.menu {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 30px 0;
  padding-bottom: 0px;
  background-color: $primary;

  &__nav {
    text-align: center;
  }

  &__link {
    display: block;
    padding-bottom: 30px;

    &:hover,
    &.active {
      color: gold;
    }
  }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::after {
  background-color: $primary;
}

.hero {
  height: 100vh;
  padding: 20px;
  padding-right: 20px;
  background-image: url('../img/bg_mobile.jpg');
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;

  &__title {
    font-size: 14px;
    margin-top: 100px;
  }

  &__description {
    font-size: 12px;
  }
}

@media (min-width: 870px) {
  .header {
    padding-top: 55px;
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;

    &__nav {
      padding-left: 40%;
    }

    &__link {
      display: inline-block;
      margin-right: 6%;
    }
  }

  .hero {
    background-image: url('../img/bg.jpg');
    padding-left: 45%;
  }
}

@media (min-width: 1200px) {
  .hero {
    &__title {
      font-size: 16px;
    }

    &__description {
      font-size: 14px;
    }
  }
}

@media (min-width: 1400px) {
  .hero {
    background-size: cover;
    &__title {
      font-size: 24px;
    }

    &__description {
      font-size: 18px;
    }
  }
}
