.item-socpublic .slider__arrows {
  transform: translateY(-40px);
}

.item-profitcentr .slider__arrows {
  transform: translateY(-110px);
}

.item-socpublic .item__logo {
  transform: translateY(-20px);
}

.item-profitcentr .item__logo {
  transform: translateY(-170px);
}
