body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $font-color;
}

a {
  text-decoration: none;
  color: #fff;
}

section {
  padding-top: 30px;
  padding-bottom: 50px;

  a {
    color: $primary;
    font-weight: bold;
  }
}

.subtitle {
  color: $primary;
  margin-bottom: 30px;
}

.item {
  margin-bottom: 50px;
}

.item__title {
  font-weight: bold;
  margin-bottom: 20px;
}

.item__logo,
.item__interface {
  width: 300px;
}

.slider {
  position: relative;
  width: 300px;
  overflow: hidden;
  margin-bottom: 10px;

  &__items {
    width: 620px;
  }
}

.slider__arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateY(-25px);

  .fas {
    color: $primary;
    font-size: 50px;
  }

  .fa-chevron-left {
    opacity: 0.5;
    &:hover {
      cursor: pointer;
    }
  }

  .fa-chevron-right {
    position: absolute;
    right: 60px;
    &:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 576px) {
  .item__title {
    grid-area: title;
  }

  .slider {
    grid-area: slider;
  }

  .item__desc {
    grid-area: desc;
  }

  .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'title title'
      'slider desc';
    gap: 10px;
  }
}

@media (min-width: 768px) {
  .item {
    grid-template-columns: 40% 60%;
  }
}

@media (min-width: 992px) {
  .item {
    grid-template-columns: 30% 70%;
  }
}

// section {
//   padding-top: 118px;
//   padding-bottom: 280px;
// }
