.container {
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  column-gap: 5px;
}

.col {
  grid-column: 1/2;
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
