.container {
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  column-gap: 5px;
}

.col {
  grid-column: 1/2;
}
